<%= render "common/errors", model: @recipe %>

<%= form_for(@recipe) do |f| %>
  <p>
    <%= f.label :nazwa %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :opis %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :poziom_trudności %><br>
    <%= f.number_field :difficulty_level, min: 1, max: 5 %>
  </p>

  <p>
    <%= f.collection_select :category_id, Category.all, :id, :name %>
  </p>

  <p>
    <%= f.submit "Utwórz" %>
  </p>
<% end %>

<%= link_to "Wróć", categories_path,:class => 'btn btn-default' %>
