<%- model_class = Recipe -%>
<div class="page-header">
  <h1></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nazwa) %>:</strong></dt>
  <dd><%= @recipe.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:opis) %>:</strong></dt>
  <dd><%= @recipe.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:trudność) %>:</strong></dt>
  <dd><%= @recipe.difficulty_level %></dd>
  <dt><strong><%= model_class.human_attribute_name(:polubienia) %>:</strong></dt>
  <dd><%= @recipe.rank %></dd>
  <dt><strong><%= model_class.human_attribute_name(:kategoria) %>:</strong></dt>
  <dd><%= @recipe.category_id %></dd>
</dl>

<p>
  <strong>Rank:</strong>
  <%= link_to "-", vote_recipe_path(@recipe, dir: "down"), method: :post %>
  <%= link_to "+", vote_recipe_path(@recipe, dir: "up"), method: :post %>
</p>

<%= link_to  "Wróć", request.headers["Referer"] || recipes_path, :class => 'btn btn-default'  %>
<%= link_to  "Edytuj",
              edit_recipe_path(@recipe), :class => 'btn btn-default' %>
<%= link_to  "Usuń",
              recipe_path(@recipe),
              :method => 'delete',
              :data => { :confirm => "Jesteś pewny?" },
              :class => 'btn btn-danger' %>
