<!-- <% content_for :name do %>
  <%= @category.name %>
<% end %> -->

<p>
  <h2><%= @category.name %></h2>
</p>

<%= link_to "Wróć", categories_path %> |
<%= link_to "Edytuj", edit_category_path(@category) %> |
<%= link_to "Usuń", category_path(@category),
                      method: :delete,
                      data: { confirm: "Jesteś pewny?"} %>

<p>
  <%= link_to "Dodaj przepis", new_recipe_path %>
</p>

<h3>Przepisy:</h3>

<% @category.recipes.each do |recipe| %>

<table>
  <tr>
    <th><%= recipe.name %></th>
    <h4><th><%= recipe.description %></th></h4>
    <h7><td><%= link_to "Więcej", recipe_path(recipe) %></td></h7>
  </tr>
  <tr>
 </tr>
  <% end %>
</table>
