<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:name) ? yield(:name) : "Kategorie" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if current_user %>
      <p>
         Hello <%= current_user.email %> |
         <%= link_to "Wyloguj się", destroy_user_session_path, method: :delete %>
      </p>
      <% else %>
        <%= link_to "Zaloguj się", new_user_session_path %> |
        <%= link_to "Zarejestruj się", new_user_registration_path %>
      <% end %>

      <p style="color: green">
        <%= notice %>
      </p>

      <p style="color: red">
        <%= alert %>
      </p>

    <%= yield %>
  </body>
</html>
